.jumbotron {
  background-color: transparent;
  background-image: url('img/Gambar6.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.jumbotron img {
  width: 150px;
  background-color: grey;
  border-radius: 80px;
  margin-top: 20px;
}

.navbarr {
  background-color: rgb(34, 66, 155);
  color: white;
}
.navbarr .navbar-brand {
  color: white;
  font-weight: bold;
}



.navbar-nav li a {
  color: white;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: rgb(39, 212, 243);
}

.sosmed a {
  text-decoration: none;
  color: black;
}
.sosmed p {
  font-size: 20px;
}

.content {
  height: 900px;
}

.profile .garis {
  width: 250px;
  border-top: 4px solid #666;
}

.table {
  background-color: skyblue;
}

.colomn p {
  margin-top: 10px;
}

.keterangan h5 {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}
